
* {
  background-color: #85D6FF;
  }
/*LOGIN AND REGISTER*/

#topHeader {
  color: #FF85E0;
  font-family: arial;
  font-size: 40px;
  text-align: center;
}

/*GAME BOARD*/

body {
  height: 700px;
  }
#gameArea {
  width: 650px;
  height: 650px;
  float: left;
  margin-left: 150px;
  margin-top: 500px;
  }
  h1 {
  color: #FF85E0;
  font-family: arial;
  font-size: 40px;
  margin-left: 130px;
  }
.button {
  width: 150px;
  height: 150px;
  border: 5px solid white;
  text-align: center;
  font-size: 120px;
  font-family: helvetica;
  color: #FF85E0;
  /* vertical-align: middle;*/
  }

#playButton {
  font-size: 25px;
  height: 40px;
  width: 300px;
  background-color: #FF85E0;
/*  margin-top: 50px;*/
  margin-left: 240px;
  border: 1px solid black;
  }
#selectTurn {
  display: none;
  }
#boardMsg {
  width: 150px;
  height: 50px;
  font-family: arial;
  font-size: 20px;
  color: #FF85E0;
  }
#selectTurn {
  display: none;
  }
#scoreBoard {
  margin-right: 400px;
  font-size: 30px;
  color: #FF85E0;
  margin-bottom: 200px;
  }



